
@font-face {
    font-family: "Nunito-Regular";
    src: url("./fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito-SemiBold";
    src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {    
    font-family: "Nunito-Bold";
    src: url("./fonts/Nunito-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root, body {font-size: 10px;}
@media screen and (min-width: 576px) {
	:root, body {font-size: 12px;}
}
@media screen and (min-width: 768px) {
	:root, body {font-size: 12px;}
}
@media screen and (min-width: 992px) {
	:root, body {font-size: 14px;}
}
@media screen and (min-width: 1200px) {
	:root, body {font-size: 16px;}
}

html {
    width: calc(100% + calc(100vw - 100%)) !important; 
    overflow-x: hidden !important;
}

body {
    display: flex !important; 
    flex-direction: column !important; 
    margin: 0 auto !important; 
    max-width: 1920px !important; 
    font-family: 'Nunito-Regular', sans-serif !important; 
    color: var(--green) !important; 
    overflow-x: hidden !important;
}

*::before {
    pointer-events: none;
}

@media (min-width: 1680px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1920px) {
    .bg-color::before {
        margin-left: -960px;
    }
}

a {
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, .h1 {
    font-size: 3.375rem !important; 
    font-family: "Nunito-Bold", sans-serif !important;
}
h2, .h2 {
    font-size: 2.5rem !important; 
    font-family: "Nunito-Bold", sans-serif !important;
}
h3, .h3 {
    font-size: 1.9125rem !important; 
    font-family: "Nunito-SemiBold", sans-serif !important;
}


.main-banner::before{
    background: var(--bg-image) no-repeat center !important;
    background-size: cover !important;
}


.form-control {
    border: none !important;
    border-radius: 0 !important;
}

input::placeholder{
    color: #fff !important;
}

.text-new-info {
    color: #418AED !important;
}

.text-new-blue {
    color: #1E1B3D !important;
}

.text-light-info {
    color: #AECFFA !important;
}


.bg-new-info {
    background-color: #418AED !important;
}

.bg-new-blue {
    background-color: #1E1B3D !important;
}

.form-control:focus {box-shadow: none !important;}